.main {
  background: #19191C;
  color: #fff;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

#hero {
  padding: 150px 0 50px;

  p {
    margin: 2rem 0 0;
  }

  img {
    width: 150%;
    max-width: 600px;
  }
}

#goal {
  .content {
    justify-items: start;

    h2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #B9B9C3;
    }

    p {
      margin: 1.5rem 0 0;
      font-family: 'Playfair Display';
      font-size: 28px;
      line-height: 46px;
      color: #fff;
    }
  }
}

@media (min-width: 768px) {
  #hero {

    img {
      transform: none;
    }
  }
}

@media (min-width: 1024px) {
  #hero {
    padding: 250px 0 350px;
    padding: 4rem 0 0;

    h1 {
      font-size: 2.75rem;
      line-height: 3.5rem;
    }

    img {
      max-width: unset;
    }

    .content {
      grid-template-columns: 486px 690px;
      grid-column-gap: 24px;
      justify-items: start;
      align-items: center;

      .copy {
        padding: 250px 0 0;
        align-self: start;
      }
    }
  }
}