#hero {
   position: relative;
   padding: 120px 0 0;
 }

#content, #logobar {
  display: grid;
  grid-template-columns: 100%;
}

#logobar {
  margin: 60px 0 0;
}

@media (min-width: 768px) {
  #content {
    grid-template-columns: 480px auto;
  }
}

@media (min-width: 1024px) {
  #hero {
    padding: 180px 0 0;
  }

  #content, #logobar {
    grid-column-gap: 24px;
  }

  #logobar {
    margin: 0;
    grid-template-columns: auto 690px;
  }
}

@media (min-width: 1200px) {
  #content {
    grid-template-columns: 690px auto;
  }
}