#details {
  width: 100%;
  padding: 3rem 1.5rem 80px;
}

.number {
  display: none;
}

.title {
  position: relative;
  z-index: 0;
  line-height: 1.5rem;
  background: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quote {
  position: relative;
  z-index: 0;
  margin: 1rem 0 1.5rem;
  font-size: 28px;
  font-weight: 400;
  line-height: 46px;

  &::before {
    content: "„";
  }

  &::after {
    content: "“";
  }
}

.sectionTitle {
  display: inline-block;
  margin-bottom: 10px;
}

.description {
  color: #A8A8A8;
  margin: 0 0 1.5rem;
}

.clients {
  width: calc(100% + 3rem);
  transform: translateX(-1.5rem);
  margin: 10px 0 0 0;
  overflow-x: auto;
  display: grid;
  grid-template-columns: 1.5rem repeat(100, 282px) 1.5rem;
  -webkit-overflow-scrolling: touch;

  &::before, &::after { content: '' }

  &::-webkit-scrollbar {
    display: none;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 171px;
    margin: 0 1.5rem 0 0;
    background: #43434E;

    &:last-child {
      margin: 0;
    }
  }
}

@media (min-width: 1200px) {
  .number {
    display: block;
    position: absolute;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 12.5rem;
    line-height: 4.75rem;
    color: #D8D8D8;
    top: -10%;
    left: -25%;
  }

  #details {
    position: relative;
    height: 100%;
    padding: 50px 0 0 100px;
    display: grid;
    align-items: center;
    justify-items: start;

    & > div {
      max-width: 600px;
    }

    .clients {
      width: calc(100% + 100px + (50vmax - 600px));
      transform: translateX(-100px);
      grid-template-columns: 100px repeat(6, 282px) calc(50vmax - 600px);
    }
  }
}