#box {
  padding: 100px 100px 250px;
  text-align: center;
  position: relative;
}

#background {
  padding: inherit;
  position: absolute;
  margin: -110px;
  width: 57%;
  background-color: #19191C;
}

#paragraph {
  z-index: 2;
  color: #A8A8A8;
  text-align: left;
  font-size: 13px;
  font-weight: 100;
  word-break: break-all;
  width: 46%;
  padding-top: 15px;
}

#headline {
  z-index: 2;
  color: #D8D8D8;
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  margin-top: -30px;
}

#link {
  color: #fff;
  word-break: break-all;
  font-size: 11px;
  font-weight: 100;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 35px;
  width: 15%;
  z-index: 2;

  &:hover {
    color: #D8D8D8;
  }
}

#wrapper {
  display: grid;
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  #background {
    width: 110%;
  }

  #paragraph {
    width: 110%;;
  }
}

@media (max-width: 750px) {
  #box {
    padding: 100px 60px 310px;
    padding-left: 35px;
  }

  #background {
    width: 120%;;
  }

  #link {
    width: 50%;
  }

  #paragraph {
    width: 110%;;
  }

  #wrapper {
    padding: 0;
  }
}