#controls {
  justify-self: end;
}

.controlButton {
  display: inline-block;
  padding: 2rem 1.65rem;
  cursor: pointer;
  background-color: #26262C;

  &:hover {
    background: rgba(#19191C, 0.5);
  }

  &:last-child {
    img {
      transform: rotateY(180deg);
    }
  }
}

@media (min-width: 375px) {
  .controlButton {
    padding: 2rem 2rem;
  }
}

@media (min-width: 768px) {
  .controlButton {
    padding: 2rem 2.375rem;
  }
}