#links {

  ul {
    top: 0;
    margin: 0;
    padding: 5px 0 0;
    list-style: none;

    li {
      margin-left: 30px;
      float: right;
      text-align: right;
      color: #ABABAB;

      a {
        line-height: 25px;
        text-decoration: none;
        color: inherit;
        transition: color 100ms ease-in-out;

        &:hover {
          color: #8E8EA1;
        }
      }
    }
  }
}

#copy {
  font-size: 16px;

  p {
    position: absolute;
    margin-top: 5px;
    color: #ABABAB;
  }
}

#hr {
  border: 0;
  border-top: solid #E6E6E6 1px;
  height: 1px;
  margin-top: 60px;
}

@media (max-width: 500px) {
  #links ul li {
    float: none;
  }
}