#navigation {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  padding: 2.75rem 0;
}

#content {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

#menuTogglePart {
  display: flex;
  justify-self: end;

  img {
    cursor: pointer;

    &:first-child {
      margin-right: 1.5rem;
    }
  }
}