#services {
  display: grid;
  grid-template-columns: 100%;
  align-items: start;
  justify-items: start;
  background: #F5F5F8;
  color: #000;
}

@media (min-width: 1200px) {
  #services {
    min-height: 700px;
    height: 100vh;
    grid-template-columns: calc(50% - 100px) auto;
  }
}