#contact {
  padding: 150px 0 5rem;
  overflow-y: hidden;
}

#content {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  justify-items: start;
  align-items: center;
  overflow-y: hidden;

  h1 {
    margin: 0 0 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #8E8EA1;
  }
}

#prevButton {
  margin: 0 0 1rem;
  line-height: 20px;
}

@media (min-width: 1024px) {
  #contact {
    padding: 0;
  }

  #content {
    height: 100vh;
  }

  #fieldInput {
    width: 40rem;
  }
}