.headline {
  margin: 0 0 5px;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8E8EA1;
}

.card {
  font-style: normal;
  line-height: 24px;
  color: #8E8EA1;

  img {
    margin-right: 1rem;
    transform: translateY(25%);
    border-radius: 100%;
  }

  &::first-line {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    line-height: 44px;
    color: black;
  }

  &:last-child {
    margin-top: 1.5rem;
  }
}

.dark .card::first-line {
  color: #19191C;
}