#content {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#quote {
  color: #ABABAB;
  margin-bottom: 60px;
  font-family: Helvetica, sans-serif;
}

#paragraph {
  color: rgba(25, 25, 28, 0.5);
  margin-top: 30px;
  font-weight: lighter;
}

#headline {
  color: #19191C;
  font-size: 30px;
  margin-top: -40px;
}

#link {
  color: #000;
  font-weight: 100;
  font-size: 10px;
  margin-top: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  width: 10%;

  &:hover {
    font-weight: bolder;
  }
}

#box {
  text-align: left;
  padding: 60px 60px 150px;
  text-decoration: none;

  #quote {
    color: #ABABAB;
  }

  #paragraph {
    color: #A8A8A8;
  }

  &:hover {
    background-color: #F5F5F8;

    #quote {
      color: #19191C;
    }

    #paragraph {
      color: #19191C;
    }
  }

  border-left: 1px solid #D8D8D8;
}

@media (max-width: 768px) {
  #link {
    width: 20%;
  }
}

@media (max-width: 900px) {
  #content {
    grid-template-columns: repeat(1, 1fr);
    margin-top: -349px;
    margin-bottom: -253px;
  }
}