#list {

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      line-height: 24px;
      color: #8E8EA1;

      a {
        text-decoration: none;
        color: inherit;
        transition: color 100ms ease-in-out;

        &:hover {
          color: #49494F;
        }
      }
    }
  }

  &.dark ul li {
    color: #49494F;
  }
}

.headline {
  margin: 0 0 5px;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8E8EA1;
}