#footer {
  padding: 4rem 0 2.25rem;
  background: #fff;
  color: #000;
}

#content {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 50px;
}


@media(max-width: 768px) {
  #footer {
    padding: 0 0 2.25rem;
  }

  #logo {
    margin-top: 30px;
    margin-bottom: -30px;
  }
}

@media (min-width: 768px) {
  #content {
    grid-template-columns: 50% 50%;
  }

  #logo {
    grid-column-start: span 2;
  }
}

@media (min-width: 1200px) {
  #content {
    grid-template-columns: 180px 282px 282px 180px 180px;
    grid-column-gap: 24px;
  }

  #logo {
    grid-column-start: 1;
  }
}