#imprint {
  padding: 150px 0 50px;
  color: #000;
  background: #fff;
}

#header {
  padding: 0 0 40px;
}

#triplet {
  h2 {
    margin: 0 0 20px;
  }

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;

    address {
      font-style: normal;
      line-height: 24px;
      color: #8E8EA1;

      em {
        font-style: normal;
        color: #000;
      }

      &:first-line {
        color: #000;
      }

      &:nth-child(2) {
        &:first-line {
          color: #8E8EA1;
        }
      }

      &:last-child {
        margin: 1.5rem 0 0;
      }
    }
  }
}

#blocks {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 40px;

  h2 {
    margin: 50px 0 30px;
  }
}

@media (min-width: 1200px) {
  #triplet .container {
    grid-template-columns: repeat(3, 384px);
    grid-column-gap: 24px;
  }
}