.languageSwitch {
  margin: 2rem 0 0;
}

.button {
  padding: 8px;
  background: rgba(#fff, .1);
  border: 0;
  line-height: 1rem;
  color: rgba(#fff, .5);
  transition: all 200ms ease;
  cursor: pointer;

  &:first-child {
    border-radius: 5px 0 0 5px;
  }

  &:last-child {
    border-radius: 0 5px 5px 0;
  }

  &:focus {
    outline: none;
  }

  &.active {
    color: rgba(#fff, 1);
    background: rgba(#fff, .25);
  }
}

.dark .button {
  background: rgba(#000, .1);
  color: rgba(#000, .15);

  &.active {
    color: rgba(#fff, 1);
    background: rgba(#000, .25);
  }
}