#content {
  display: grid;
  grid-template-columns: 100%;

  transition: all 600ms ease-in-out;
}

.quote {
  border: solid #E9E9E9 1px;
  box-sizing: border-box;
  width: calc(100% + 3rem);
  padding: 50px 1.5rem;
  transform: translateX(-1.5rem);
  background: #fff;

  p {
    font-size: 24px;
    font-weight: 300;
    line-height: 46px;
    color: #000;
  }
}

.controlsAndPagination {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

@media (min-width: 1024px) {
  #content {
    grid-template-columns: auto 792px;
  }

  .quote {
    position: relative;
    z-index: 1;
    padding: 100px 1.5rem 100px 100px;
    width: calc(100% + 1.5rem);
    grid-column-start: 2;
    transform: translateX(0);
  }
}

@media (min-width: 1200px) {
  .quote {
    padding: 100px 0 100px 100px;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      width: calc(50vw - 610px);
      height: 100%;
      left: 100%;
      bottom: 0;
      background: #fff;
    }
  }
}

@media (max-width: 768px) {
  .controlsAndPagination {
    padding-top: 50px;
  }
}