#overlay {
  overflow-y: auto;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fff;

  :global {
    .wrapper {
      height: 100%;
      display: grid;
      grid-template-rows: 100%;
      align-items: start;
    }
  }
}

#content {
  display: grid;
  padding: 150px 0 80px;
  grid-template-columns: 100%;
  grid-row-gap: 50px;
}

@media (min-width: 1200px) {
  #overlay :global .wrapper {
    align-items: center;
  }

  #content {
    padding: 0;
    grid-template-columns: 384px 282px 282px 180px;
    grid-column-gap: 24px;
  }
}