.paragraph {
  margin: 15px 0 0;
  max-width: 600px;
  color: #A8A8A8;
  font-weight: 300;
}

.button {
  background-color: #19191C;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background: rgba(#19191C, 0.5);
  }
}

.headline {
  display: inline-block;
  position: relative;
  font-weight: 300;
}
