#overview {
  position: relative;
  width: 100%;
  padding: 7rem 0 0;
  background: #FFFFFF;
}

#overviewList {
  max-width: 100vw;
  padding: 100px 1.5rem 2rem;
  overflow: auto;

  .headline {
    position: absolute;
    top: 120px;
    left: 1.5rem;
    font-size: 44px;
    font-weight: 300;
    line-height: 76px;
    margin: 0 0 1rem;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
  }

  li {
    margin: 0 1.5rem 0 0;
    display: inline-block;

    a {
      font-family: 'IBM Plex Sans', serif;
      font-size: 18px;
      line-height: 30px;
      color: inherit;
      text-decoration: none;

      small {
        margin: 0 1rem 0 0;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #8E8EA1;
      }

      span {
        display: inline-block;
        -webkit-background-clip: text !important;
      }
    }
  }
}

@media (min-width: 1200px) {
  #overview {
    height: 100%;
    padding: 50px 0 0 calc(100% - 500px + 3rem );
    display: grid;
    align-items: center;
  }

  #overviewList {
    padding: 0;
    overflow: visible;

    .headline {
      margin: 0 0 30px;
      position: static;
      font-size: 4rem;
      font-weight: 300;
      line-height: 4.75rem;
      transform: translateX(-3rem);
    }

    ul {
      display: grid;
      grid-template-columns: 100%;
      grid-row-gap: 1rem;
    }

    li {
      display: block;

      a {
        font-size: 24px;
        line-height: 40px;
      }
    }
  }
}