#counter {
  display: none;
}

#fieldTitle {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.75rem;
}

#fieldInput {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  border-width: 0 0 2px 0;
  border-image-slice: 1;
  font-size: 48px;
  font-weight: 300;
  line-height: 76px;

  &:focus {
    outline: none;
  }
}

#nextButton, #prevButton {
  margin: 3rem 0 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: transparent;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 1px;
    background: #000;
    bottom: -1px;
    left: calc(100% + 2px);
    transition: all 150ms ease;
  }

  &:focus {
    outline: none
  }

  &:hover {

    &::after {
      width: 100%;
      left: 0;
    }
  }
}

#prevButton {
  margin: 0 0 1rem;
}

@media (min-width: 1200px) {

  #counter {
    display: block;
    position: absolute;
    bottom: calc(-180px / 100 * 30);
    font-size: 180px;
    font-weight: 300;
    color: rgba(#19191C, .05);
  }
}