#content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#box {
  padding: 136px;
  text-align: center;
  text-decoration: none;

  &:first-of-type {
    background-color: #131316;

    &:hover {
      background: rgba(#131316, 0.9);
    }
  }

  &:last-of-type {
    background-color: #26262C;

    &:hover {
      background: rgba(#26262C, 0.9);
    }
  }

  #link {
    word-break: keep-all;
    vertical-align: baseline;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    font-size: 27px;
  }
}

@media (max-width: 768px) {
  #content {
    grid-template-columns: repeat(1, 1fr);
  }

  #link {
    font-size: 18px !important;
  }
}
