@import '~normalize.css/normalize';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

* {
  box-sizing: border-box;
}

:root, body, #root {
  height: 100vh;
}

.wrapper {
  display: grid;
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2 {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 42.75px;
}

h2 {
  font-size: 28px;
  line-height: 40px;
}

p {
  margin: 0;
  line-height: 24px;
  color: #8E8EA1;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 57px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    padding: 0;
    transition: max-width 600ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &.fullwidth {
      max-width: calc(100% - 13.5rem);
    }
  }

  h1 {
    font-size: 64px;
    line-height: 76px;
  }
}