#navigation {

  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
    list-style: none;
  }

  li {
    font-family: 'IBM Plex Sans', serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 44px;
    
    a {
      text-decoration: none;
      color: inherit;
      font-weight: 100;
    }
  }
}