.home {
   background: #fff;
   color: black;
 }

.sectionHolder {
  padding: 100px 0;
  //background: rgb(52,52,58);
  //background: linear-gradient(180deg, rgba(52,52,58,1) 0%, rgba(38,38,44,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#34343a",endColorstr="#26262c",GradientType=1);
}

@media (min-width: 1024px) {
  .sectionHolder {
    padding: 180px 0 0 0;
  }
}