#headline {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.75rem;
}

.link {
  display: inline-block;
  position: relative;
  margin: 5rem 0 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: transparent;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 1px;
    background: #000;
    bottom: -1px;
    left: calc(100% + 2px);
    transition: all 150ms ease;
  }

  &:focus {
    outline: none
  }

  &:hover {

    &::after {
      width: 100%;
      left: 0;
    }
  }
}