.servicesHolder {
  margin: 1.5rem 0 0;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 1.5rem;
}

.serviceCard {
  box-sizing: border-box;
  padding: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-shadow: inset 0 0 0 3px rgba(25,25,28,0.05);
}

@media (min-width: 768px) {
  .servicesHolder {
    width: 620px;
    grid-template-columns: repeat(3, 180px);
    grid-row-gap: 2.5rem;
    grid-column-gap: 2.5rem;
  }

  .serviceCard {
    width: 180px;
    height: 100px;
    padding: unset;
  }
}