.pagination {
  position: relative;
}

.indicator {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
  background: #000;
  transform: translateX(0);
}

.dot {
  display: inline-block;
  margin: 0 1.25rem 0 0;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #E9E9E9;
}
