.author {
  display: flex;
  margin: 2.5rem 0 1rem;

  img {
    margin: 0 1rem 0 0;
    background: grey;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }

  & > div {
    display: inherit;
    flex-direction: column;
    justify-content: center;
  }

  span {
    display: block;

    &:first-child {
      font-size: 20px;
      font-family: 'Playfair Display', serif;
      line-height: 24px;
    }

    &:last-child {
      line-height: 24px;
      color: #B9B9C3;
    }
  }
}

@media (min-width: 1024px) {
  .author {
    img {
      margin: 0 1.5rem 0 0;
      width: 4rem;
      height: 4rem;
    }
  }
}

@media (max-width: 768px) {
  .author {
    padding-top: 20px;
  }
}